body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin: 0 20px;
}

.one {
  grid-column: 1 / 1;
  grid-row: 1;
}
.two {
  grid-column: 2 / 2;
  grid-row: 1;
}
.three {
  grid-column: 3 / 3;
  grid-row: 1;
}

h1 {
  padding-left: 20px;
}

span,
p {
  font-weight: bold;
}

pre {
  white-space: pre-wrap;
  padding: 10px;
  border-radius: 10px;
  background-color: lightgrey;
}

select {
  background-clip: padding-box;
  background-color: rgb(255, 255, 255);
  border-bottom-color: rgb(170, 201, 235);
  border-bottom-left-radius: 4.8px;
  border-bottom-right-radius: 4.8px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0;
  border-image-repeat: stretch stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(170, 201, 235);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(170, 201, 235);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(170, 201, 235);
  border-top-left-radius: 4.8px;
  border-top-right-radius: 4.8px;
  border-top-style: solid;
  border-top-width: 1px;
  box-sizing: border-box;
  color: rgb(73, 80, 87);
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  font-size: 20px;
  font-weight: 400;
  height: 48px;
  line-height: 24px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  text-align: start;
  text-transform: none;
  transition-delay: 0s, 0s;
  transition-duration: 0.15s, 0.15s;
  transition-property: border-color, box-shadow;
  transition-timing-function: ease-in-out, ease-in-out;
  width: 843px;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
}

input[type='text'] {
  background-clip: padding-box;
  background-color: rgb(255, 255, 255);
  border-bottom-color: rgb(206, 212, 218);
  border-bottom-left-radius: 4.8px;
  border-bottom-right-radius: 4.8px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0;
  border-image-repeat: stretch stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(206, 212, 218);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(206, 212, 218);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(206, 212, 218);
  border-top-left-radius: 4.8px;
  border-top-right-radius: 4.8px;
  border-top-style: solid;
  border-top-width: 1px;
  box-sizing: border-box;
  color: rgb(73, 80, 87);
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  overflow: visible;
  overflow-x: visible;
  overflow-y: visible;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  text-align: start;
  transition-delay: 0s, 0s;
  transition-duration: 0.15s, 0.15s;
  transition-property: border-color, box-shadow;
  transition-timing-function: ease-in-out, ease-in-out;
  width: 843px;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  margin-top: 20px;
}

button,
input[type='submit'] {
  width: 100%;
  display: block;
  background-color: rgb(0, 123, 255);
  border-bottom-color: rgb(0, 123, 255);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0;
  border-image-repeat: stretch stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(0, 123, 255);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(0, 123, 255);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(0, 123, 255);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-style: solid;
  border-top-width: 1px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  overflow: visible;
  overflow-x: visible;
  overflow-y: visible;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  text-align: center;
  text-transform: none;
  transition-delay: 0s, 0s, 0s, 0s;
  transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
  transition-property: color, background-color, border-color, box-shadow;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
  white-space: nowrap;
  margin-top: 20px;
}

textarea {
  background-clip: padding-box;
  background-color: rgb(255, 255, 255);
  border-bottom-color: rgb(206, 212, 218);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0;
  border-image-repeat: stretch stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(206, 212, 218);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(206, 212, 218);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(206, 212, 218);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-style: solid;
  border-top-width: 1px;
  box-sizing: border-box;
  color: rgb(73, 80, 87);
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  overflow: auto;
  overflow-x: auto;
  overflow-y: auto;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  resize: vertical;
  text-align: start;
  transition-delay: 0s, 0s;
  transition-duration: 0.15s, 0.15s;
  transition-property: border-color, box-shadow;
  transition-timing-function: ease-in-out, ease-in-out;
  width: 843px;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  margin-top: 20px;
}

form > p {
  background-color: rgb(248, 215, 218);
  border-bottom-color: rgb(245, 198, 203);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0;
  border-image-repeat: stretch stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(245, 198, 203);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(245, 198, 203);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(245, 198, 203);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-style: solid;
  border-top-width: 1px;
  box-sizing: border-box;
  color: rgb(114, 28, 36);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 16px;
  margin-top: 16px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  position: relative;
  text-align: left;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
}

ul {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

li {
  width: 100%;
  list-style: none;
}
